.env
/psql/.env
/portfolio/.env

/portfolio/.bundle

/portfolio/db/*.sqlite3
/portfolio/db/*.sqlite3-*

/portfolio/log/*
/portfolio/tmp/*
/portfolio!/log/.keep
/portfolio!/tmp/.keep

/portfolio/tmp/pids/*
/portfolio!/tmp/pids/
/portfolio!/tmp/pids/.keep

/portfolio/storage/*
/portfolio!/storage/.keep
/portfolio/tmp/storage/*
/portfolio!/tmp/storage/
/portfolio!/tmp/storage/.keep

/portfolio/public/assets

/portfolio/config/master.key

/portfolio/config/secure/*