<footer>
  <a target='_blank' href='https://github.com/timgoellner'>
    <svg xmlns="http://www.w3.org/2000/svg" width="41px" height="40px" viewBox="0 0 40 40"><path d="M 19.941406 0 C 8.914062 0 0 9.167969 0 20.507812 C 0 29.570312 5.710938 37.246094 13.632812 39.960938 C 14.625 40.164062 14.988281 39.519531 14.988281 38.976562 C 14.988281 38.5 14.957031 36.871094 14.957031 35.175781 C 9.410156 36.398438 8.253906 32.730469 8.253906 32.730469 C 7.363281 30.351562 6.042969 29.742188 6.042969 29.742188 C 4.226562 28.484375 6.171875 28.484375 6.171875 28.484375 C 8.1875 28.621094 9.242188 30.589844 9.242188 30.589844 C 11.027344 33.714844 13.898438 32.832031 15.054688 32.289062 C 15.21875 30.964844 15.746094 30.046875 16.308594 29.539062 C 11.886719 29.0625 7.230469 27.296875 7.230469 19.421875 C 7.230469 17.179688 8.023438 15.347656 9.277344 13.921875 C 9.078125 13.410156 8.386719 11.304688 9.476562 8.488281 C 9.476562 8.488281 11.160156 7.945312 14.957031 10.59375 C 16.582031 10.144531 18.257812 9.914062 19.941406 9.914062 C 21.625 9.914062 23.339844 10.152344 24.925781 10.59375 C 28.722656 7.945312 30.40625 8.488281 30.40625 8.488281 C 31.496094 11.304688 30.800781 13.410156 30.605469 13.921875 C 31.890625 15.347656 32.652344 17.179688 32.652344 19.421875 C 32.652344 27.296875 27.996094 29.027344 23.539062 29.539062 C 24.265625 30.183594 24.890625 31.40625 24.890625 33.339844 C 24.890625 36.089844 24.859375 38.296875 24.859375 38.976562 C 24.859375 39.519531 25.222656 40.164062 26.214844 39.960938 C 34.136719 37.246094 39.847656 29.570312 39.847656 20.507812 C 39.878906 9.167969 30.933594 0 19.941406 0 Z M 19.941406 0 "/></svg>
  </a>
  <span>
    <p>Copyright © 2023 Tim Göllner. Site source on&nbsp</p>
    <%= link_to 'GitHub', 'https://github.com/timgoellner/Portfolio', target: '_blank' %>
    <p>.</p>
  </span>
</footer>