<main>
  <h1><code>500 - Internal Server Error</code></h1>
  <p><code>I am sorry but the webserver had an internal error of some kind.</code></p>
  <p><code>Please contact me via email at contact@timgoellner.dev.</code></p>
</main>