<% content_for :head do %>
  <%= stylesheet_link_tag 'root' %>
  <%= javascript_include_tag 'root' %>
<% end %>

<div class='page_location'>
  <div><p>1</p></div>
  <div></div>
  <div><p>2</p></div>
  <div></div>
  <div><p>3</p></div>
</div>

<main>
  <section class='about_me'>
    <%= image_tag 'root/pp.jpg', alt: 'Profile Image', class: 'animation_fadeIn' %>
    <h1 class='animation_appear'>Hi, I'm Tim.<br>I do programming.</h1>
    <p class='animation_fadeIn'>I'm a 16 year old German hobby software developer.<br>In my free time, I play Games and do competitive swimming.</p>
    <div class='about_me_post animation_fadeIn'>
      <h3>Latest Post:</h3>
      <%= link_to 'Sample Post', '/' %>
      <p>Sample post desc</p>
    </div>
  </section>
</main>