<% content_for :head do %>
  <%= stylesheet_link_tag 'root' %>
<% end %>

<div class='page_location'>
  <div>1</div>
  <div></div>
  <div>2</div>
  <div></div>
  <div>3</div>
</div>

<main>
  <section class="about_me">
    <h1>Hi, I'm Tim.<br>I do programming.</h1>
    <p>I'm a 16 year old German hobby software developer.<br>In my free time, I play Games and do competitive swimming.</p>
  </section>
</main>