<head>
  <%= stylesheet_link_tag 'contact' %>
</head>

<main>
  <h1 class='animation_appear'>Contact</h1>
  <div class='infos animation_fadeIn'>
    You can send me an Email at <a href='' class='copy_to_clipboard' copy_text='contact@timgoellner.dev'>contact@timgoellner.dev</a>.
    <br><br>
    I am also available via the username <a href='' class='copy_to_clipboard' copy_text='sirroti'>sirroti</a> on Discord. 
  </div>
</main>