/*
  setup

  *= require_self
*/

:root {
  --color-background: #222831;
  --color-primary: #393E46;
  --color-accent: #00ADB5;
  --color-accent-dark: #00848b;
  --color-text: #EEEEEE;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: system-ui;
}

/*
  general
*/

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-dark);
}

svg {
  fill: var(--color-accent);
}

/*
  navbar
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(2rem, 10vw, 20rem);

  width: fit-content;

  margin-top: 10vh;
  margin-left: 15vw;
}

nav > div {
  display: flex;
  gap: clamp(.5rem, 4vw, 10rem);
}

nav > div > a {
  font-size: 1.125rem;
}

/*
  footer
*/

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  width: 100vw;
  bottom: 1rem;
}

footer > span {
  display: flex;
}