/*
 *= require_self
 */

:root {
  --color-background: #222831;
  --color-primary: #393E46;
  --color-accent: #00ADB5;
  --color-text: #EEEEEE;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: system-ui;
}