main {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  gap: 3.5rem;
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 20vw;
  }
}

/*
  post link
*/

.post > a {
  font-size: 1.5rem;
  font-weight: bold;
}

.post > p {
  animation-delay: .5s;
}

.post_date {
  font-size: .9rem;
  margin-top: .5rem;
}